#### 2회차 Assignment
안정 혈압을 예측

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df =pd.read_csv('C:/Users/yoojm/AIStudy/practice/dataset.csv', index_col=0)
df

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
y = df['target']
y

age
63    1
37    1
41    1
56    1
57    1
     ..
57    0
45    0
68    0
57    0
57    0
Name: target, Length: 303, dtype: int64

In [4]:
x = df.drop('target', axis=1)

In [5]:
y = x['trestbps']

In [6]:
x = x.drop(columns=['trestbps'], axis = 1)

In [7]:
x

     sex  cp  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal
age
63     1   3   233    1        0      150      0      2.3      0   0     1
37     1   2   250    0        1      187      0      3.5      0   0     2
41     0   1   204    0        0      172      0      1.4      2   0     2
56     1   1   236    0        1      178      0      0.8      2   0     2
57     0   0   354    0        1      163      1      0.6      2   0     2
..   ...  ..   ...  ...      ...      ...    ...      ...    ...  ..   ...
57     0   0   241    0        1      123      1      0.2      1   0     3
45     1   3   264    0        1      132      0      1.2      1   0     3
68     1   0   193    1        1      141      0      3.4      1   2     3
57     1   0   131    0        1      115      1      1.2      1   1     3
57     0   1   236    0        0      174      0      0.0      1   1     2

[303 rows x 11 columns]

In [8]:
# train & test

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((227, 11), (76, 11), (227,), (76,))

In [9]:
# DT
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix

from sklearn.tree import DecisionTreeRegressor

clf_dt = DecisionTreeRegressor()
clf_dt.fit(x_train, y_train)

pred_dt = clf_dt.predict(x_test)

print(clf_dt.score(x_train, y_train))

1.0

In [10]:
mse = np.sqrt(mean_squared_error(pred_dt, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 23.337906819953716

In [11]:
# RF
from sklearn.ensemble import RandomForestRegressor

rf_clf = RandomForestRegressor()
rf_clf.fit(x_train, y_train)

pred_rf = rf_clf.predict(x_test)

print(rf_clf.score(x_train, y_train))

0.8558779616187384

In [12]:
mse = np.sqrt(mean_squared_error(pred_rf, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.524991973860043

In [13]:
# LR
from sklearn.linear_model import LinearRegression

clf_lr = LinearRegression()
clf_lr.fit(x_train, y_train)

pred_lr = clf_lr.predict(x_test)

print(clf_lr.score(x_train, y_train))

0.10307797384730155

In [14]:
mse = np.sqrt(mean_squared_error(pred_lr, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 17.721982182103375

In [15]:
# SVR
from sklearn.svm import SVR

clf_svm = SVR()
clf_svm.fit(x_train, y_train)

pred_svm = clf_svm.predict(x_test)

print(clf_svm.score(x_train, y_train))

0.004586227522672237

In [16]:
mse = np.sqrt(mean_squared_error(pred_svm, y_test))
print('평균제곱근오차', mse)

평균제곱근오차 18.347995666288494